section,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px white solid;
    color: white;
    background: black;
}

textarea {
    height: 10em;
}

table {
    width: 100%;
}

td {
    width: 50%;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
}